@charset "UTF-8";
/*字体大小和文字颜色*/
/*网站配色*/
/*字体大小和文字颜色*/
/*网站配色*/
* {
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

*[hidefocus],
input,
textarea,
a {
  outline: none; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0; }

fieldset,
img,
html,
body,
iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

caption,
th {
  font-weight: normal;
  font-style: normal;
  text-align: left; }

em,
strong {
  font-weight: bold;
  font-style: normal; }

body,
textarea,
select,
input,
pre {
  font-family: microsoft yahei, arial, helvetica, sans-serif;
  font-size: 14px;
  color: #555; }

body {
  line-height: 1.5em;
  -webkit-text-size-adjust: none; }

a,
button {
  cursor: pointer; }

textarea {
  resize: none;
  overflow: auto; }

pre {
  white-space: pre-wrap; }

a {
  color: #333;
  text-decoration: none; }

input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only; }

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem; }
  .container:after, .container:before {
    content: '';
    clear: both;
    display: table; }

.container-fluid {
  width: 100%;
  padding: 0 0.75rem; }
  .container-fluid:after, .container-fluid:before {
    content: '';
    clear: both;
    display: table; }
  @media screen and (min-width: 750px) {
    .container-fluid {
      padding: 1.5rem; } }

.row {
  margin: 0 -0.5rem; }
  .row:after, .row:before {
    content: '';
    clear: both;
    display: table; }

@media screen and (min-width: 410px) {
  .container {
    width: 410px; } }

@media screen and (min-width: 750px) {
  .container {
    width: 750px; } }

@media screen and (min-width: 992px) {
  .container {
    width: 992px; } }

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px; } }

.h1 {
  font-size: 1.4rem; }

h1 {
  font-size: 1.4rem; }

.h2 {
  font-size: 1.3rem; }

h2 {
  font-size: 1.3rem; }

.h3 {
  font-size: 1.2rem; }

h3 {
  font-size: 1.2rem; }

.h4 {
  font-size: 1.1rem; }

h4 {
  font-size: 1.1rem; }

.h5 {
  font-size: 1rem; }

h5 {
  font-size: 1rem; }

.h6 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }

@media screen and (min-width: 410px) {
  .col-xs-1 {
    float: left;
    width: 8.33333%;
    padding: 0 0.5rem; }
  .col-xs-offset-1 {
    margin-left: 8.33333%; }
  .col-xs-2 {
    float: left;
    width: 16.66667%;
    padding: 0 0.5rem; }
  .col-xs-offset-2 {
    margin-left: 16.66667%; }
  .col-xs-3 {
    float: left;
    width: 25%;
    padding: 0 0.5rem; }
  .col-xs-offset-3 {
    margin-left: 25%; }
  .col-xs-4 {
    float: left;
    width: 33.33333%;
    padding: 0 0.5rem; }
  .col-xs-offset-4 {
    margin-left: 33.33333%; }
  .col-xs-5 {
    float: left;
    width: 41.66667%;
    padding: 0 0.5rem; }
  .col-xs-offset-5 {
    margin-left: 41.66667%; }
  .col-xs-6 {
    float: left;
    width: 50%;
    padding: 0 0.5rem; }
  .col-xs-offset-6 {
    margin-left: 50%; }
  .col-xs-7 {
    float: left;
    width: 58.33333%;
    padding: 0 0.5rem; }
  .col-xs-offset-7 {
    margin-left: 58.33333%; }
  .col-xs-8 {
    float: left;
    width: 66.66667%;
    padding: 0 0.5rem; }
  .col-xs-offset-8 {
    margin-left: 66.66667%; }
  .col-xs-9 {
    float: left;
    width: 75%;
    padding: 0 0.5rem; }
  .col-xs-offset-9 {
    margin-left: 75%; }
  .col-xs-10 {
    float: left;
    width: 83.33333%;
    padding: 0 0.5rem; }
  .col-xs-offset-10 {
    margin-left: 83.33333%; }
  .col-xs-11 {
    float: left;
    width: 91.66667%;
    padding: 0 0.5rem; }
  .col-xs-offset-11 {
    margin-left: 91.66667%; }
  .col-xs-12 {
    float: left;
    width: 100%;
    padding: 0 0.5rem; }
  .col-xs-offset-12 {
    margin-left: 100%; } }

@media screen and (min-width: 750px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%;
    padding: 0 0.5rem; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%;
    padding: 0 0.5rem; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%;
    padding: 0 0.5rem; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%;
    padding: 0 0.5rem; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%;
    padding: 0 0.5rem; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%;
    padding: 0 0.5rem; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%;
    padding: 0 0.5rem; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%;
    padding: 0 0.5rem; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%;
    padding: 0 0.5rem; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%;
    padding: 0 0.5rem; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%;
    padding: 0 0.5rem; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%;
    padding: 0 0.5rem; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media screen and (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
    padding: 0 0.5rem; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%;
    padding: 0 0.5rem; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%;
    padding: 0 0.5rem; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%;
    padding: 0 0.5rem; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%;
    padding: 0 0.5rem; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%;
    padding: 0 0.5rem; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%;
    padding: 0 0.5rem; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%;
    padding: 0 0.5rem; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%;
    padding: 0 0.5rem; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%;
    padding: 0 0.5rem; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%;
    padding: 0 0.5rem; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%;
    padding: 0 0.5rem; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%;
    padding: 0 0.5rem; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    float: left;
    width: 16.66667%;
    padding: 0 0.5rem; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    float: left;
    width: 25%;
    padding: 0 0.5rem; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.33333%;
    padding: 0 0.5rem; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    float: left;
    width: 41.66667%;
    padding: 0 0.5rem; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    float: left;
    width: 50%;
    padding: 0 0.5rem; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.33333%;
    padding: 0 0.5rem; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    float: left;
    width: 66.66667%;
    padding: 0 0.5rem; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    float: left;
    width: 75%;
    padding: 0 0.5rem; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.33333%;
    padding: 0 0.5rem; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    float: left;
    width: 91.66667%;
    padding: 0 0.5rem; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    float: left;
    width: 100%;
    padding: 0 0.5rem; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

/*字体大小和文字颜色*/
/*网站配色*/
/*字体大小和文字颜色*/
/*网站配色*/
input:focus {
  outline: none; }

.form .form-group {
  width: 100%; }
  .form .form-group label {
    margin: 0.5rem 0;
    display: block;
    width: 100%; }
    .form .form-group label .fa:before {
      margin-right: 0.5rem;
      display: inline-block; }
  .form .form-group .form-control {
    border: 1px solid #ebf2f9;
    width: 100%;
    padding: 0.5rem; }
    .form .form-group .form-control:focus {
      border-color: #3280fc;
      box-shadow: 0 0 0.5rem #3280fc; }
  .form .form-group .form-inline {
    display: inline-block; }
  .form .form-group .input-default {
    border: 1px solid #ebf2f9; }
    .form .form-group .input-default:focus {
      outline: none;
      border-color: #ebf2f9;
      box-shadow: 0 0 0.5rem #ebf2f9; }
  .form .form-group .info-default {
    color: #ebf2f9; }
  .form .form-group .input-primary {
    border: 1px solid #3280fc; }
    .form .form-group .input-primary:focus {
      outline: none;
      border-color: #3280fc;
      box-shadow: 0 0 0.5rem #3280fc; }
  .form .form-group .info-primary {
    color: #3280fc; }
  .form .form-group .input-success {
    border: 1px solid #38b03f; }
    .form .form-group .input-success:focus {
      outline: none;
      border-color: #38b03f;
      box-shadow: 0 0 0.5rem #38b03f; }
  .form .form-group .info-success {
    color: #38b03f; }
  .form .form-group .input-info {
    border: 1px solid #03b8cf; }
    .form .form-group .input-info:focus {
      outline: none;
      border-color: #03b8cf;
      box-shadow: 0 0 0.5rem #03b8cf; }
  .form .form-group .info-info {
    color: #03b8cf; }
  .form .form-group .input-warring {
    border: 1px solid #f1a325; }
    .form .form-group .input-warring:focus {
      outline: none;
      border-color: #f1a325;
      box-shadow: 0 0 0.5rem #f1a325; }
  .form .form-group .info-warring {
    color: #f1a325; }
  .form .form-group .input-error {
    border: 1px solid #ea644a; }
    .form .form-group .input-error:focus {
      outline: none;
      border-color: #ea644a;
      box-shadow: 0 0 0.5rem #ea644a; }
  .form .form-group .info-error {
    color: #ea644a; }

.btn {
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  .btn.btn-default {
    background: #ebf2f9; }
  .btn.btn-primary {
    background: #3280fc; }
  .btn.btn-success {
    background: #38b03f; }
  .btn.btn-info {
    background: #03b8cf; }
  .btn.btn-warring {
    background: #f1a325; }
  .btn.btn-error {
    background: #ea644a; }
  .btn.btn-block {
    width: 100%;
    display: block;
    text-align: center; }

html {
  font-size: 62.5%; }

.header {
  position: fixed;
  height: 10rem;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  border-bottom: 1px solid #d2d2d2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }

#container {
  margin-bottom: 6rem; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 999;
  border-top: 1px solid #d2d2d2;
  background: #fff; }
  @media screen and (min-width: 750px) {
    .footer {
      display: block; } }
  @media screen and (min-width: 992px) {
    .footer {
      display: none; } }
  .footer .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer .nav li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-top: 1rem; }
      .footer .nav li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }

.card {
  border: 1px solid #eee;
  margin: 0.25rem;
  height: 25rem;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  @media screen and (min-width: 992px) {
    .card {
      height: 27.5rem; } }
  .card img {
    max-width: 100%;
    height: auto;
    display: block; }
  .card .caption {
    padding: 1rem; }
  .card .up,
  .card .down {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    line-height: 20rem;
    letter-spacing: 3px; }
  .card .up {
    background: #03b8cf;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    color: #ffffff; }
  .card .down {
    background: #ea644a;
    color: #ffffff;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .card.border {
    box-shadow: 0 0 100px #000000; }
  .card.active .up {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .card.active .down {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
