@import "vars",
"mixin";
@import "reset";
@import "grid";
@import "form";
html {
    font-size: 62.5%;
}

.card {
    background: #e2e;
    border: 1px solid #eee;
    margin: rem(5);
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .caption {
        padding: rem(20);
    }
}