@import "vars",
"mixin";
#container {
    padding: 0;
    .user-box {
        padding: rem(100) 0;
        display: flex;
        height: rem(100);
        background: url(../img/index-bg.jpg) no-repeat 0 0;
        .user-face {
            flex: 2;
            display: flex;
            justify-content: flex-end;
            img {
                height: rem(100);
                width: rem(100);
                display: block;
            }
        }
        .user-info {
            flex: 8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            .user-item {
                flex: 1;
                display: flex;
                align-items: center;
                span {
                    flex: 2;
                }
                h2 {
                    flex: 5;
                }
            }
        }
    }
    // body {
    //     background-image: linear-gradient(to right, #d2d2d2, #eee, #ddd);
    // }
    .user-control {
        ul {
            display: flex;
            width: 100%;
            height: rem(150);
            justify-content: center;
            li {
                flex: 1;
                a {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}